# IP do servidor onde roda o SigNoz
SIGNOZ_ENDPOINT=10.0.0.X

OTELCOL_CONTRIB_VERSION=0.146.0

# Redis endpoint
REDIS_ENDPOINT=host.docker.internal:6379

# Caminho dos logs do Redis no host
# Se Redis roda em Docker: /var/lib/docker/volumes/<volume>/_data
# Se Redis roda direto no host: /var/log/redis
REDIS_LOG_PATH=/var/log/redis
